.depositEnterData {
    .formRow {
        &.amount {
            width: 60%;

            display: inline-block;
            vertical-align: baseline;
        }

        &.currency {
            width: 36%;
            display: inline-block;
            vertical-align: baseline;
            margin-left: 3%;
        }
    }
}