@import "src/parameters";
@import "src/font";

.inputTextField {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    @include fontMedium;
    box-sizing: border-box;
    padding: 0 10px 5px 10px;
    width: 100%;

    background: $color-white;
    color: $color-gray;
    font-size: $font-size-bigger;
    border: none;
    border-bottom: 1px solid $color-gray-light;

    &:focus {
        outline: none;
        border-bottom: 1px solid $color-gray;
    }
}