@import "src/parameters";
@import "src/font";
@import "src/mixins";

.loanViewData {
    display: flex;
    flex-direction: column;

    .annuity, .differ {
        box-sizing: border-box;
        width: 100%;

        position: relative;

        .title {
            margin: 0 0 10px 0;
            @include fontBold;

            span {
                display: inline-block;
                font-size: $font-size-smallest;

            }
        }

        .static {
            div {
                display: flex;
                flex-wrap: nowrap;
                align-items: baseline;

                .title {
                    font-size: $font-size-smaller;
                    flex-grow: 3;

                }

                .value {
                    font-size: $font-size-smaller;
                    flex-grow: 2;


                    text-align: right;
                    @include fontBold;
                    color: $color-red;
                }

                .currency {
                    font-size: $font-size-the-smallest;
                    padding-left: 3px;
                    width: 20px;
                    text-align: right;
                }
            }
        }

        .table {
            overflow: hidden;

            .headerTable {
                @include fontBold;
                font-size: $font-size-smaller;
                border-bottom: 1px solid $color-gray-light;
            }

            .tableCell {
                display: inline-block;
                vertical-align: baseline;
                padding: 5px 5px 5px 0;

                &.month {
                    width: 10%;
                }

                &.percent {
                    width: 25%;
                }

                &.loan {
                    width: 23%;
                }

                &.payment {
                    width: 34%;
                    text-align: right;
                }
            }

            .tableBody {
                position: relative;
                max-height: initial;
                transition: max-height 1s ease;

                &.close {
                    max-height: 115px;
                    overflow: hidden;
                }

                .tableRow {
                    border-bottom: 1px solid $color-gray-light;

                    &:last-child {
                        border-bottom: none;
                    }

                    .month {
                        color: $color-green;
                    }

                    .loan {
                        color: $color-black-light;
                    }
                }

                .tableCell {
                    &:last-child {
                        color: $color-red;
                    }

                }
            }
        }

        .buttonOpen {
            position: absolute;
            bottom: -33px;

            left: 132px;
            z-index: 3;

            border-radius: 50%;
            padding: 5px 5px 2px 5px;
            border: 1px solid $color-gray-light;
            background: $color-blue;
            cursor: pointer;

            svg {
                fill: $color-white;
            }

            &.close {
                bottom: -23px;
            }
        }
    }

    .errorText {
        margin: 25px 0 20px;

        color: $color-red;
        font-size: $font-size-smaller;
    }
}