@import "src/parameters";
@import "src/font";
@import "src/mixins";
@import "../component/titlePage/TitlePage";
@import "src/component/navigation/Navigation";

.loanPage {
    background-color: $color-background;
    padding-bottom: $height-navigation;
    padding-top: 1px;
    position: relative;

    ~ .navigation {
        @include navigationOtherPage;
    }

    .wrapper {
        @include tile;
    }

    .description {
        font-size: $font-size-smaller;
        color: $color-green;

        margin: 0 0 5px;

        span {
            font-size: $font-size-smallest;
        }
    }
}